/* * {
    border: 1px solid red;
} */

@font-face {
    font-family: "Onest"; /*Can be any text*/
    src: local("Onest"), url("../assets/Onest-VariableFont_wght.ttf");
}

@keyframes solid-indicator-anim {
    0% {
        transform: scale(0.8, 0.8);
    }
    50% {
        transform: translateX(0%) translateY(-35%);
    }
    70% {
        transform: translateX(0%) translateY(25%);
    }
    100% {
        transform: translateX(0%) translateY(0%);
    }
}

.solid {
    animation-name: solid-indicator-anim;
    animation-duration: 0.15s;
}

.carousel-container {
    background-color: #0e0e0e;
}

.page-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 0.5rem;
    padding-bottom: 2rem;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 0rem;
}

.carousel__btn {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    height: 10rem;
    width: 3rem;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 0.1rem;
    transition: 100ms ease-out;
}

.carousel__btn:hover {
    transform: scale(1.05);
    color: black;
    background-color: white;
}

.carousel__product-list {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    width: 60rem;
    height: 30rem;
    z-index: 1;
    overflow: hidden;
    transform: translateX(00%);
}

.featuredItem {
    display: flex;
    width: 60rem;
    transition: transform 250ms;
}

.featuredItem__product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
}

.featuredItem__product-summary {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;
    width: 30rem;
}

.featuredItem__product-summary-btns {
    display: flex;
    gap: 1rem;
}

.featuredItem__product-summary-btns button {
    padding: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-family: "Onest";
    font-weight: normal;
    color: white;
    border: none;
    border-radius: 0.1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}

.btn-add-to-cart {
    background-color: #d92a2a;
    transition: 100ms ease-in-out;
}

.btn-add-to-cart:hover {
    background-color: white;
    color: black;
}

.btn-more-details {
    background-color: transparent;
    text-decoration: underline;
    font-weight: normal;
}

.featuredItem__product-summary-price {
    font-size: 1.5rem;
    font-weight: bold;
}

.featuredItem__product-summary-title {
    font-size: 1.5rem;
    font-weight: bold;
}
